<!-- Uses 'layout' page to format webpage -->
{% extends "layout.html" %}
<!-- Added text using dictionaries and lists from python app -->
{% block content %}
    <!-- Pulls out individual posts from posts database -->
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <!-- Allows users to click on author and post to go to author profile or expand on post -->
                    <a class-"mr-2" href="#"> {{ post.author.username }} </a>
                    <small class="text-muted"> {{ post.date_posted.strftime('%d-%m-%Y') }} </small>
                </div>
                <!-- Displays post information in headings and paragraph text -->
                <h2><a class="article-title" href="#"> {{ post.title }} </a></h2>
                <p class="article-content"> {{ post.content }} </p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
