<!-- Uses 'layout' page to format -->
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <!-- FORM FOR PRIVATE REPORT -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend> <!-- Sets title as legend within form -->
                <p>Need to report something? Fill out the form below to send us a message and we will get back to you as soon as possible!</p>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }} 
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}                    
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }} 
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.sportteam.label(class="form-control-label") }}
                    {% if form.sportteam.errors %}
                    {{ form.sportteam(class="form-control form-control-lg is-invalid") }} 
                    <div class="invalid-feedback">
                        {% for error in form.sportteam.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.sportteam(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.details.label(class="form-control-label") }}
                    {% if form.details.errors %}
                    {{ form.details(class="form-control form-control-lg is-invalid") }} 
                    <div class="invalid-feedback">
                        {% for error in form.details.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.details(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>

            <!-- Button submits details to database for future use (logging in) -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
